html, body  {
  margin: 0;
  background: rgb(202, 194, 194);
  height: 181.3%; /* Definir altura de html e body como 100% */
}
.container {
  width: 100%;
  height: 77%;
  padding-bottom: 4.95%;/* Espaço para o footer */
}

#title{
  padding-bottom: 15%;
}

.left-side {
  float: left; 
  width: 25%; 
  height: auto;
  position: relative;
  box-sizing: border-box;
  background:#0a6d7a;
  color: aliceblue;
}

.right-side {
  float: right;
  margin: 0;
  width: 75%;
  height: auto;
  padding: 3%; 
  position: relative;
  box-sizing: border-box; 
}

.foto-e-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}
.minha-foto{
  border-radius: 50%;
  width: 150px; 
  padding-top: 8%;
}

.subtitle-perfil, .section-text-perfil, .section-text-graduation, .article-links-caontats, .aside-list-skills{
  padding: 5% 7% 5% 7%;
}

.container-perfil, .aritle-contat, .aside-skills, .article-courses{
  width: 100%;  
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-perfil-graduation{
  width: 29%;  
  margin: 0;
  padding: 0 5% 0 4%;
}

.p-perfil, .p-contact, .p-skills{
    width: 20%;  
    margin: 0;
    padding: 0 5% 0 4%;
  }

.linha-horizontal {
  width: 65%; 
  float: right;
  margin: 0;
  height: 1px;

  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.graduation, .notebook, .contat-handshake, .skills-piramide{
  width: 15%; 
  height: 10;
  margin: 0;
  padding: 3% 0 3% 5%;
}


/* Contatos Links e Img*/
.lista-contato {
  list-style: none;
}

.li-fone, .li-whats, .li-mail, .li-git, .li-in{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3% 8% 0 0;
}

.fone, .whatsapp, .email, .git, .In{
  width: 20px; 
  height: 10; 
  padding: 1% 5% 5% 0;
}

.a-fone, .a-whatsapp, .a-email, .a-git, .a-In {
  color: aliceblue;
  margin: 0;
  padding: -20% 0 0 0;
}

/*SOBRE AS SKILLS*/
.container-skill{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 16%;
}

.skill {
  width: 50%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color:rgb(226, 170, 170);
}

/*WORK EXPERIENCE*/
.container-works{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 3%;
}

.social-media{
  width: 10%; 
  height: 20%; 
}

.courses{
  width: 100%;
  height: 15%; 
  background: #0a6d7a;
}

.flag{  
  width: 10%; 
  height: 550%;
  padding: 0 0 0 2%;
  float: left; 

}
.article-courses{
  display: flex;
  align-self: center;
  width: auto;
  height: 4%;
  margin: 0; 
  padding: 3% 5% 3% 0;
  background:#0a6d7a;
  color: aliceblue;
}

.p-perfil-Work{
  width: 25%;  
  margin: 0;
  padding: 0 0 0 3%; 
}

.p-courses {
  width: 20%;
  margin: 0;
  padding: 0 3% 0 2%;
}


/* Estilizando o botão do Slick Carousel */
.slick-prev,
.slick-next {
  background-color: rgb(202, 194, 194);
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #e0e0e0;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.slick-slider {
  width: 90%;
  margin: 2% 5% 2% 2%;
  background:#0a6d7a;
  color: aliceblue;
}

.slick-prev:hover,
.slick-next:hover {
  transform: scale(1.1);
}
  
.footer{
  height: auto;
  background-color: #333;
  color: #f2f2f2;
  padding: 0 0 0 30%;
}

.p-footer{
  padding: 0;
  margin: 0;
}
